<div id="main-container" class="hero container d-flex">
    <div class="col align-self-center">
        <iframe id="embedded" title="HackQuarantine's player frame" src="https://mixer.com/embed/player/HackQuarantine?disableLowLatency=1?muted=1" width="620" height="349"> </iframe>
    </div>

    <div class="col align-self-center justify-content-center">
        <div class="row">
            <div class="col"></div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-6 col-xl-6">
                <img class="logo" src="{{ page.assets.logo }}" />
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="powered-by">Powered by <a title="hack.athon.uk" href="https://hack.athon.uk"><img src="./assets/img/powered_by/logo.svg" /></a></div>

                <div class="headline-date">{{ page.daterange }}</div>

                <div class="tagline">{{ page.tagline }}</div>
                <!--
                    <a href="{{ page.socials.platform }}">
                        <button type="button" class="btn btn-outline-primary"><i class="fas fa-flask"></i> Get Started!</button>
                    </a>
                -->
                <a href="{{ page.socials.schedule }}">
                    <button type="button" class="btn btn-primary"><i class="fas fa-calendar"></i> Schedule</button>
                </a>

                <a href="{{ page.socials.workshops }}">
                    <button type="button" class="btn btn-primary"><i class="fas fa-hands-helping"></i> Submit Workshop / Talk</button>
                </a>

                <a href="{{ page.socials.discord }}">
                    <button type="button" class="btn btn-primary"><i class="fab fa-discord"></i> Join Discord</button>
                </a>

                <a href="{{ page.socials.emails }}">
                    <button type="button" class="btn btn-primary"><i class="fas fa-envelope"></i> Register for Updates</button>
                </a>

                <br />

                <a href="{{ page.socials.twitter }}">
                    <button type="button" class="btn btn-outline-primary"><i class="fab fa-twitter"></i> Twitter</button>
                </a>

                <a href="{{ page.socials.facebook }}">
                    <button type="button" class="btn btn-outline-primary"><i class="fab fa-facebook"></i> Facebook</button>
                </a>

                <a href="{{ page.socials.instagram }}">
                    <button type="button" class="btn btn-outline-primary"><i class="fab fa-instagram"></i> Instagram</button>
                </a>

                <a href="{{ page.socials.linkedin }}">
                    <button type="button" class="btn btn-outline-primary"><i class="fab fa-linkedin"></i> LinkedIn</button>
                </a>

            </div>
        </div>
    </div>
</div>
