<div id="main-container" class="hero container d-flex">
    <div id="logo-elem" class="col align-self-center justify-content-center">
        <div class="row">
            <div style="max-width: 20em; margin: 0 auto;">
                <img class="logo" src="{{ page.assets.logo }}" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 buttons">
                <div class="powered-by">Powered by <a title="hack.athon.uk" href="https://hack.athon.uk"><img src="./assets/img/powered_by/logo.svg" /></a></div>

                <div class="headline-date">{{ page.daterange }}</div>

                <div class="tagline">{{ page.tagline }}</div>
                <!--
                    <a href="{{ page.socials.platform }}">
                        <button type="button" class="btn btn-outline-primary"><i class="fas fa-flask"></i> Get Started!</button>
                    </a>
                -->

                <div id="register">
                    <a href="{{ page.socials.discord }}">
                        <button type="button" class="btn btn-primary"><i class="fab fa-discord"></i> 1. Join Discord</button>
                    </a>
                    <a href="{{ page.socials.emails }}">
                        <button type="button" class="btn btn-primary"><i class="fas fa-envelope"></i> 2. Register for Updates</button>
                    </a>
                    <a href="{{ page.socials.schedule }}">
                        <button type="button" class="btn btn-primary"><i class="fas fa-calendar"></i> 3. View Schedule</button>
                    </a>
                </div>

                <a href="{{ page.socials.workshops }}">
                    <button type="button" class="btn btn-outline-primary"><i class="fas fa-hands-helping"></i> Submit Workshop / Talk</button>
                </a>

                <a href="{{ page.socials.donate }}">
                    <button type="button" class="btn btn-outline-primary"><i class="fas fa-money-check-alt"></i> Donate to WHO Fund</button>
                </a>
            </div>
        </div>
    </div>

    <div id="embedded-viewer" class="col align-self-center">
        <div id="embedded">
            <div id="embedded-header">
                <i id="embedded-status-icon" style="color: gray; margin-right: 0.5em;" class="fas fa-circle"></i><b id="embedded-status-text">OFFLINE</b>
                <div id="embedded-title"></div>
            </div>

            <div id="embedded-content">
                <iframe id="embedded-schedule" scrolling="no" title="HackQuarantine Upcoming Events" src="/upcoming"></iframe>
                <iframe id="embedded-iframe" title="HackQuarantine Livestream" src="https://player.twitch.tv/?channel=hackquarantine&muted=1"></iframe>
                <!-- <iframe id="embedded-iframe" title="HackQuarantine Livestream" src="https://mixer.com/embed/player/HackQuarantine?disableLowLatency=1?muted=1"> </iframe> -->
            </div>
        </div>
    </div>
</div>
