body {
  background-color: #0e1428;
}

#colour-key {
  display: flex;
  justify-content: center;
}

#colour-key-container {
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}

#colour-key > div {
  font-weight: bold;
  padding: 0.1em 0.5em;
  border-radius: 0.5em;
  box-shadow: 0 0 .2rem rgba(0,0,0,.1),0 .2rem .4rem rgba(0,0,0,.2);
  margin-right: 0.5em;
}

.fc-event {
  border: none !important;
}

#event-modal h4, #event-modal p {
  font-family: unset !important;
}

#event-type {
  text-transform: capitalize;
}

.material-icons {
  font-size: 26px;
  position: relative;
  top: 0.2em;
  padding-right: 0.2em;
}

#calendar .fc-today {
  background: #FFFFFF26 !important;
}

#calendar .fc-view-container {
    box-shadow: 0 0 .2rem rgba(0,0,0,.1),0 .2rem .4rem rgba(0,0,0,.2);
    background-color: #303030;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius:0.25rem;
}

#calendar h1, #calendar h2, #calendar h3, #calendar h4 {
    font-family: unset;
}

#calendar .fc-toolbar button {
  box-shadow: 0 0 .2rem rgba(0,0,0,.1),0 .2rem .4rem rgba(0,0,0,.2);
}

#calendar-error {
  text-align: center;
}

@media only screen and (max-width : 992px) {
  #calendar {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }

  .fc-toolbar.fc-header-toolbar {
    margin-right: 1em;
    margin-left: 1em;
  }
}

@media only screen and (max-width : 768px) {
  .fc-left > h2 {
    font-size: 1.2em;
  }

  .fc-toolbar.fc-header-toolbar {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .fc-toolbar.fc-header-toolbar > * {
    text-align: center;
    margin-bottom: 0.5em;
  }

  .fc-button {
    padding: 0.2em 0.3em;
  }
}
