#embedded-iframe {
    display: none;
}

#embedded-viewer {
    display: none;
}

#embedded {
    display: inline-block;
    width: min-content;
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3),0 1rem 2rem rgb(0, 0, 0, 0.3);
    border-radius: 6px;
    margin-top: 3em;
    margin-bottom: 1em;
    overflow: hidden;
}

#embedded-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
}

#embedded-header > * {
    display: inline-block;
}

#embedded-content {
    border: 0;
    overflow: hidden;
    width: 40vw;
    max-width: 640px;
}

#embedded-content iframe {
    border: none;
    width: 100%;
    overflow: hidden;
    background: #2c2c2c;
}

@media screen and (max-width: 600px) {
    #embedded-content, #embedded {
        margin-left: calc(-50vw + 50%);
        width: 100vw !important;
        max-width: 100vw !important;
    }
}

@media screen and (max-width: 1000px) {
    #embedded-content {
        width: 60vw;
        max-width: 640px;
    }

    #logo-elem {
        margin-top: 100px;
    }

    #main-container {
        flex-direction: column;
        padding-bottom: 2em;
    }

    .hero::before {
        display: none;
    }

    .hero {
        height: auto;
        background:
        linear-gradient(
        rgba(14, 20, 40, 0.85),
        rgba(14, 20, 40, 0.85)
        ),
        /* bottom, image */
        url("/assets/img/hero-bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
