#embedded {
    display: inline-block;
    width: min-content;
    background-color: white;
    box-shadow: 0 0 .2rem rgba(0,0,0,.1),0 .2rem .4rem rgba(0,0,0,.2);
    border-radius: 6px;
}

#embedded-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
}

#embedded-header > * {
    display: inline-block;
}

#embedded-iframe {
    border: 0;
    overflow: hidden;
    width: 40vw;
    max-width: 640px;
}

#main-container {
    flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {
    #embedded-iframe, #embedded {
        margin-left: calc(-50vw + 50%);
        width: 100vw !important;
        max-width: 100vw !important;
    }
}

@media screen and (max-width: 1000px) {
    .hero {
        height: auto;
    }

    #embedded-iframe {
        width: 60vw;
        max-width: 640px;
    }


    #main-container {
        flex-direction: column;
    }
}
