/* font override */
p, h1, h2, h3, h4, h5, h6, button, .powered-by, .tagline {
    font-family: "Source Code Pro", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #f1f2f6;
}
body {
    background-color: #0e1428;
}

.hero {
    background: 
    linear-gradient(
      rgba(14, 20, 40, 0.85), 
      rgba(14, 20, 40, 0.85)
    ),
    /* bottom, image */
    url("/assets/img/hero-bg.jpg");    height: calc(100vh - 2em);
    text-align: center;
}

.logo {
    width: 50vw;
}

.checkered {
    background-color: black;
    background-image: linear-gradient(45deg, #EBC805 25%, transparent 25%), linear-gradient(-45deg, #EBC805 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #EBC805 75%), linear-gradient(-45deg, transparent 75%, #EBC805 75%);
    background-size: 1em 1em;
    background-position: 0 0, 0 0.5em, 0.5em -0.5em, -0.5em 0px;  
}

.checkered-dimmed {
    background-color: black;
    background-image: linear-gradient(45deg, #856200 25%, transparent 25%), linear-gradient(-45deg, #856200 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #856200 75%), linear-gradient(-45deg, transparent 75%, #856200 75%);
    background-size: 2em 2em;
    background-position: 0 0, 0 1em, 1em -1em, -1em 0px;  
}

.line {
    width: 100vw;
    height: 2em;
}

.my-auto { /* fixes hero centering */
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0;
}

.hero .tagline {
    color: #EBC805;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.hero .btn-outline-primary {
    color: #EBC805;
    border-color: #EBC805;
    border-radius: 0;
    margin: 0.25em;
}

.hero .btn-outline-primary:hover, .hero .btn-outline-primary:active:focus {
    background-color: #EBC805;
    color: #0e1428;
}

.hero .powered-by {
    color: white;
    font-size: 1em;
    margin-bottom: 1em;
}

.hero .powered-by img {
    height: 2em;
}

.page-content {
    margin-top: 2em;
}

.page-content p {
    color: #f1f2f6;
}

footer {
    background-color: #1a1a1a;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #f1f2f6;
}

.poweredby-logos {
    text-align: center;
}

.poweredby-logos img {
    width: 20vw;
}

#faqs .card-header {
    padding: 0;
}

#faqs button {
    color: white;
    text-shadow: 0px 0px 8px black;
    text-decoration: none;
    font-weight: bold;
}

#faqs .card {
    background-color: #282E42;
    border: 1px solid #00000F;
    border-radius: 0;
    color: #f1f2f6;
    font-family: "Source Code Pro", serif;
}

h2 {
    margin-top: 2em;
}
