<html lang="en">
 
    {% include header.html %}
    <body>

        {% include hero.html %}
        <div class="checkered line"></div>

        <div class="container page-content">
            <div class="row">
                <div class="col-12">
                    {{ content }}

                    <h2>I've got a question!</h2>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="accordion" id="faqs">
                              {% for faq in site.faq %}
                                  {% include faq.html index=forloop.index content=faq.content title=faq.title %}
                              {% endfor %}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>contact details here for if people need clarification</p>
                        </div>
                    </div>

                    <h2>Powered by</h2>
                    <div class="poweredby-logos">
                        <a href="https://hack.athon.uk"><img class="logo" src="./assets/img/logo.svg" /></a>
                        <a href="https://hackathonsforschools.com"><img class="logo" src="./assets/img/hsfa_logo_circle.png" /></a>
                    </div>

                    <h2>Partnered with</h2>
                    <div class="partneredwith-logos">
                        <a href="https://manmethacks.com/"><img class="logo" src="./assets/img/partnered_socs/hellohackers.png" /></a>
                        <a href="https://compsoc.tech"><img class="logo" src="./assets/img/partnered_socs/durham-compsoc.png" /></a>
                        <a href="https://hackthemidlands.com"><img class="logo" src="./assets/img/partnered_socs/hackthemidlands.png" /></a>
                        <a href="https://hackbrunel.com"><img class="logo" src="./assets/img/partnered_socs/hackbrunel.png" /></a>
                        <a href="https://covhack.org"><img class="logo" src="./assets/img/partnered_socs/covhack.png" /></a>
                        <a href="https://computingsociety.co.uk"><img class="logo" src="./assets/img/partnered_socs/holloway.svg" /></a>
                        <a href="https://hacksheffield.com/"><img class="logo" src="./assets/img/partnered_socs/hackSheffield.png" /></a>


                    </div>

                    <h2>Brought to you by</h2>
                    <div class="team">
                        <a href="https://linkedin.com/in/JackBiggin"><img src="./assets/img/team/jack.jpg" /> <div>Jacklyn Biggin<div>Lead Organiser</div></div></a>
                        <a href="https://twitter.com/baahorn"><img src="./assets/img/team/beowulf.jpg" /> <div>B Horn<div>Tech Lead</div></div></a>
                        <a href="https://twitter.com/wrussell1999"><img src="./assets/img/team/will.jpg" /> <div>Will Russell<div>Outreach Lead</div></div></a>
                        <a href="https://thomas.misson.info"><img src="./assets/img/team/tom_m.jpg" /> <div>Tom Misson<div>Publicity Lead</div></div></a>                      
                        <a href="https://www.linkedin.com/in/hamish-sams-2ba767153/"><img src="./assets/img/team/hamish.jpg" /> <div>Hamish Sams<div>Team Member</div></div></a>
                        <a href="https://twitter.com/smailesyboi"><img src="./assets/img/team/josh.jpg" /> <div>Josh Smailes<div>Team Member</div></div></a>
						            <a href="https://community.dur.ac.uk/karl.southern"><img src="./assets/img/team/karl.jpg" /> <div>Karl Southern<div>Workshop Lead</div></div></a>
						            
                    </div>
                </div>
            </div>
        </div>

    {% include footer.html %}
  </body>
</html>
